/* 🌟 Estilos generales */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 7px;
  padding: 0;
}

.screen {
  background-color: #ffffff;
  color: #086970;
}

.green {
  background-color: #086970;
  color: #ffffff;
}

/* 📌 Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  max-height: 70px;
}

/* 📌 Contenido principal */
.content {
  margin: 3rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* 📌 Grupo de textos */
.text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-bottom: 0px;
}

.text {
  font-size: 1.6rem;
  margin: 0;
}

.subtexto {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.6rem;
  font-style: italic;
}

.btn_seguent {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 📌 Botones */
.btn-primary {
  background-color: #086970;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 2rem;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #003d3e;
}

.btn-secondary {
  background-color: transparent;
  color: #ffffff;
  border: 7px solid #ffffff;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  min-width: 250px;
  transition: background 0.3s;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-secondary:hover {
  background-color: #ffffff;
  color: #086970;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}

.btn-secondary .bold-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.break {
  display: inline; /* Por defecto, el texto está en línea */
}

.break-big {
  display: block;
}

.interactive {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container-table {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 10px;
  align-items: center;
  text-align: center;
  position: relative;
}

.header-table {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}
.table-row {
  display: contents;
}

.answers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.content-text.v2 {
  gap: 1.5rem;
}

#where-ans {
  font-size: 1.3rem;
  color: #0a666d;
  border: 5px solid #0a666d;
  padding: 7px 70px;
  border-radius: 50px;
  text-align: center;
}

#when-ans {
  font-size: 1.3rem;
  color: #0a666d;
  border: 5px solid #0a666d;
  padding: 7px 70px;
  border-radius: 50px;
  text-align: center;
}

#how-ans {
  font-size: 1.3rem;
  color: #0a666d;
  border: 5px solid #0a666d;
  padding: 7px 70px;
  border-radius: 50px;
  text-align: center;
}

.header-table div {
  text-transform: uppercase;
}

.sub-table {
  font-size: 0.8em;
  font-style: italic;
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.plus-btn-table {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.plus-btn-table button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.plus-btn-table button:hover {
  background-color: #ffffff;
  color: #0f5d5e;
}

.table-header div {
  font-weight: bold;
}

.table-header span {
  display: block;
  font-size: 12px;
  opacity: 0.8;
}

.table-plus button {
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

select {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.next-button {
  margin-top: 10px;
  background-color: #ffffff;
  color: #0f5d5e;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #e6e1e1;
  color: #0a5f66;
}

.next-button span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
}

/* 📌 Responsivo */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .content {
    margin: 1.5rem 0.5rem 0;
  }
  .subtitle {
    font-size: 1rem;
  }

  .logo {
    max-height: 50px;
  }

  thead th span {
    font-size: 12px;
  }

  select {
    width: 9.8rem;
    font-size: 12px;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
    margin-top: 0.2rem;
  }
  .btn-secondary {
    width: 100%;
  }
  .break {
    display: block;
  }
}
