/* 🌟 Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 7px;
    padding: 0;
}

.screen {
    background-color: #ffffff;
    color: #005a5c;
}

.green {
    background-color: #086970;
    color: #ffffff;
}

/* 📌 Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    max-height: 70px;
}

/* 📌 Contenido principal */
.content {
    margin: 3rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.content-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* 📌 Grupo de textos */
.text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 0px;
}

.text {
    font-size: 1.6rem;
    margin: 0;
}

.subtext {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1.6rem;
    font-style: italic;
}

.btn_seguent {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* 📌 Botones */
.btn-primary {
    background-color: #005a5c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 2rem;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #003d3e;
}

.btn-secondary {
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    min-width: 250px;
    transition: background 0.3s;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-secondary:hover {
    background-color: white;
    color: #005a5c;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 3rem;
}

.btn-secondary .bold-text {
    font-size: 1.2rem;
    font-weight: 700;
}


.break {
    display: inline; /* Por defecto, el texto está en línea */
  }

/* 📌 Responsivo */
@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    .logo {
        max-height: 50px;
    }
    .button-group {
        flex-direction: column;
        gap: 15px;
    }
    .btn-secondary {
        width: 100%;
    }
    .break {
        display: block; 
      }
}
